<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/VoodooTSCSync</string>
	<key>CFBundleGetInfoString</key>
	<string>${MODULE_VERSION}, Copyright © 2009 Cosmo1t, 2018 RehabMan. GPLv2.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>${MODULE_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${MODULE_VERSION}</string>
	<key>CFBundleShortVersionString</key>
	<string>${MODULE_VERSION}</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>VoodooTSCSync</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>${MODULE_NAME}</string>
			<key>IOClass</key>
			<string>${PRODUCT_NAME}</string>
			<key>IOMatchCategory</key>
			<string>${PRODUCT_NAME}</string>
			<key>IOProviderClass</key>
			<string>AppleACPICPU</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>7.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0d0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0b1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
